:root {
    scrollbar-width: thin;
}

body {
    font-family: sans-serif;
    margin: 1rem;
}

#album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5rem;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}

